pre,.highlight {
	width: 100%;
	padding: 10px;
	margin: 2% 0%;
	overflow: auto;
	overflow-y: hidden;
	font-size: 12px;
	line-height: 20px;
	background: url(lines.png) repeat 0 0;
	white-space: pre-wrap;
	background: #19292f;
	color: white;


}

h1,h2,h3,h4,h5,h6 {
	margin: 1rem auto;
	font-weight: bold;
    color: rgba(76, 81, 191);

}

h1{
	font-size: 2.5rem;
    color: #4c51bf;
    margin:1.5rem auto;

}

h2{
	font-size: 2rem;
    color: #4c51bf;

}

h3{
	font-size: 1.8rem;
    color: #111827;

}

pre code {
	    color: #bfc7d5;
    font-size: 16px;
    text-shadow: none;
    font-family: Fira Code,Menlo,Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 2;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
     overflow: auto;
}

code.highlighter-rouge{
	color: #e7514b;
	background: #ec565030;
	padding: 4px 2px;
	margin: 10px;
}

ul li{
	list-style: initial;
	margin-top: 1rem;
}


ol li{
	list-style: initial;
	margin-top: 1rem;
}

ul{
	margin-left: 1rem;
}

p {
	margin-top: 0.5rem;
}